.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
  content:"";
  display: table;
  clear: both
}

.w3-container,
.w3-panel {
  padding: 0.01em 16px
}

.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px
}

.w3-bar {
  width: 100%;
  overflow: hidden
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0
}

.w3-bar .w3-button {
  white-space: normal;
  border: 1px solid;
}

.w3-block {
  display: block;
  width: 100%
}

.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-btn,
.w3-button{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.w3-bar .w3-button {
  white-space: normal
}

.w3-button:hover {
  color: #000!important;
  background-color: #ccc!important
}

.w3-active,
.w3-hover-active:hover {
  background-color: #aaa;
  color: #000;
}

.w3-border-0 {
  border: 0!important
}

.w3-border {
  border: 1px solid #ccc!important;
  margin-bottom: 10px;
}

.w3-border-top {
  border-top: 1px solid #ccc!important
}

.w3-border-bottom {
  border-bottom: 1px solid #ccc!important
}

.w3-border-left {
  border-left: 1px solid #ccc!important
}

.w3-border-right{
  border-right: 1px solid #ccc!important
}
